.align-text {
    text-align: justify;
}
.heading-height{
    width: 100%;
    height: 8rem;
    padding-top: 2rem;
}
.home-wrapper{
  max-height: calc(100vh- 56px);
}
.arrows-home {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows-home path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows-home path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows-home path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows-home path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }

@media (min-width: 640px) and (max-width: 768px) {
    .container-padding{
      padding: 0rem 5rem;
    }
  }
  @media (max-width: 639px) {
    .container-padding{
      padding: 0rem 2rem;
    }
  }